asgiref
Django
django-extensions
django-filter
djangorestframework
djangorestframework-jsonapi
inflection
python-dotenv
pytz
sqlparse
tzdata
pandas
regex
jaro-winkler
sentence-transformers
fuzzywuzzy
python-Levenshtein
drf-yasg